* {
	margin:  0px;
	text-decoration: none;
}

* h1 {
	color: black;
}

* button {
	cursor: pointer;
}

* button:hover {
	background: #6E9277;
}

.header {
	display: flex;
  justify-content: space-between;
	max-width: 100%;
	padding: 20px;
	text-align: left;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: white;
	font-family: "Inter";
	font-size: 1.3vw;
	color: black;
	align-items: center;
	text-indent: 20px;
}

.headertext {
	text-align: right;
	display: flex;
  justify-content: space-between;
}

/*home page's css*/

.about {
	font-family: Inter;
	font-size: 1.3vw;
	color: black;
	position: relative;
	text-align: right;
	line-height: 60px;
	text-decoration: none;
	margin-right: 20px;
}

.engineering {
	font-family: Inter;
	font-size: 1.3vw;
	color: black;
	position: relative;
	text-align: right;
	line-height: 60px;
	text-decoration: none;
	margin-right: 20px;
}

.fashion {
	font-family: Inter;
	font-size: 1.3vw;
	color: black;
	position: relative;
	text-align: right;
	line-height: 60px;
	text-decoration: none;
	margin-right: 20px;
}

.marketing {
	font-family: Inter;
	font-size: 1.3vw;
	color: black;
	position: relative;
	text-align: right;
	line-height: 60px;
	text-decoration: none;
	margin-right: 20px;
}

.home {
	display: grid;
	grid-template-columns: 50% 50%;
  font-family: Inter;
  margin-top: 5%;
}

.home-text {
	margin-top: 25%;
	margin-right: 35%;
	margin-left: 5%;
}

.home-text p {
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 20px;
	line-height: 1.2;
}

.home-text button {
	border-radius: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}



.homeimg {
	margin-top: 5%;
	justify-self: end;
}

.home img {
	width: 70%;
	margin-left: 25%;

}

.hometext {
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	font-family: Inter;
}


.I {
	margin-top: 200px;
	margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}
.I p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.I p span.typed-text {
  font-weight: normal;
  color: #FD8CA0;
}
.I p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.I p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.titles {
	margin-top: 40px;
	margin-left: 10px;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  padding: 20px;
  font-size: 1.3vw;
  font-family: Inter;
  text-align: center;
  width:  300px;
}

.sections {
	margin-top: 150px;
	margin-right: 10%;
	margin-left: 10%;
	display:  flex;
	flex-flow:  row wrap;
	justify-content: center;
	padding-bottom: 50px;
}

.column img { 
  opacity: 1; 
} 

.column img:hover { 
  opacity: 0.5; 
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.column h3 {
	padding: 20px;
}


.footer {
	display: grid;
	grid-template-columns: 40% 40% 20%;
	font-family: Inter;
	color: white;
	background: black;
	padding: 150px;

}

.footer i {
	font-size: 36px;
}

.footericons a {
	text-decoration: none;
	background: white;
	padding: 10px;
	border-radius: 10px;
}

.footername h1{
	color: white;
	font-size: 40px;
}

.footerlinks a {
	color: white;
}

.footerlinks {
	display:  flex;
	flex-flow:  row wrap;
	justify-content:  space-around;
	align-content:  center;
}

.footericons {
	margin-left: auto;
}
/*Engineering page's css*/

.E1 {
	margin-top: 20px;
}

.E1 h1{
	color:  white;
	font-family: Inter;
	font-size: 3rem;
	position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.E1 img {
	width: 100%;
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
}

.E2 {
	text-align: left;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	padding-bottom: 10%;
	font-family: Inter;
	margin-top: 15%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.E2 p{
	font-size: 18px;
}

.research {
	margin-top: 5%;
	margin-bottom: 5%;
}

.research h1 {
	font-family: Inter;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.projects {
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	display:  grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 35px;
	font-family: Inter;
	color: white;
	width:  80%;
}

.projects img {
	width:  100%;
	height:  200px;
	object-fit:  cover;
}

.projects h4 {
	padding: 20px;
	text-align: center;
}

.projects p {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1.5;
}

.projects button {
	padding: 10px;
	border-radius: 25px;
	background: #CEDEEB;
	cursor: pointer;
}
.PF {
	padding: 20px;
	background: #32436d;
	border-radius: 25px;
	box-shadow: grey 0px 5px 15px 5px;
}

.COV {
	padding: 20px;
	background: #8495c7;
	border-radius: 25px;
	box-shadow: grey 0px 5px 15px 5px;
}

.TB {
	padding: 20px;
	background: #32436d;
	border-radius: 25px;
	box-shadow: grey 0px 5px 15px 5px;
}

.Mentoring {
	padding: 20px;
	background: #8495c7;
	border-radius: 25px;
	box-shadow: grey 0px 5px 15px 5px;
}

.SchoolProjects {
	display: grid;
	grid-template-columns: 50% 50%;
	padding-top: 40px;
	margin-left: 5%;
	margin-right: 5%;
}

.Awards {
	font-family: Inter;
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.Awards h1 {
	font-size: 50px;
}

.Awards p {
	padding: 15px;
	font-size: 18px;
}

/*Fashion page's CSS*/

.banner {
	margin-top: 20px;
}

.labels {
	margin-top: 15%;
	margin-bottom: 15%;
	font-size: 2.3vw;
	font-family: Inter;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.stylist {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 15px;
	margin-left: 15%;
	margin-right: 15%;
}

.stylist button {
	border-radius: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.styledesc {
	font-family: Inter;
}

.styledesc h3{
	font-size: 40px;
	padding-top: 25%;
	padding-bottom: 40px;
}

.styledesc p {
	font-size: 18px;
	padding-bottom: 40px;
}

.founder {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 15px;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 60px;
}

.founderdesc {
	font-family: Inter;
}

.founderdesc h3{
	font-size: 40px;
	padding-top: 18%;
	padding-bottom: 40px;
}

.founderdesc p {
	font-size: 18px;
	padding-bottom: 40px;
}

.founderdesc button {
	border-radius: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.article {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 30px;
	font-family: Inter;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 10%;
}

.article h1 {
	padding-top: 20px;
	padding-bottom: 10px;
}

.article p {
	padding-top: 10px;
	padding-bottom: 20px;
}

#artintro {
	font-family: Inter;
	font-size: 45px;
	text-align: center;
	padding: 40px;
	margin-bottom: 5%;
}

.gallery {
	margin-top: 10%;
	margin-bottom: 5%;
	font-family: Inter;
	text-align: center;
}

/*marketing page CSS*/

.mktngbuttons {
	margin-top: 10%;
	margin-bottom: 20%;
	margin-left: 20%;
	margin-right: 20%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 50px;
}

.mktngbuttons img:hover {
	opacity: 0.5; 
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.DMheader {
	font-family: Inter;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

.DMintro {
	display: grid;
	grid-template-columns: 50% 50%;
	font-family: Inter;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
}

.DMintro h1{
	font-size: 40px;
	padding-top: 25%;
	padding-bottom: 40px;
}

.DMintro p {
	font-size: 18px;
	padding-bottom: 40px;
}

.DMintro img {
	width: 100%;
	height: auto;
}

.DMintro button {
	border-radius: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.Forge {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 30px;
	font-family: Inter;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.Forge h1 {
	padding-bottom: 20px;
}

.Forge p {
	padding-bottom: 20px;
}

.forgedesc {
	margin: 5%;
	margin-top: 15%;
}

.CCE2 {
	text-align: left;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	font-family: Inter;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 15%;
	margin-right: 15%;
}

.CCE2 p{
	font-size: 18px;
}


.CCheader {
	font-family: Inter;
	text-align: center;
	margin-top: 5%;
}

.TTvideos {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 10%;
}

.TTvideos blockquote {
	max-width: 325px !important;
	margin-right:  30px;
	margin-left:  30px;
}

.ccnumbers {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 15%;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	font-family: Inter;
}

.ccnumbers div {
	background: #EBDED4;
	padding: 100px;
	border-radius: 50%;
}

.ccnumbers div:hover {
	background: #6E9277;
}

.logos {
	font-family: Inter;
	text-align: center;
	margin-top: 10%;
	margin-left: 10px;
	margin-right: 10px;
}

.logos h1 {
	padding-bottom: 40px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    font-size: 2vw;
  }

  .home {
  	display:  block;
  }

  .home img {
  	width: 50%;
  	margin-left: 23%;
  }

  .home-text {
  	margin-left: 10%;
  	margin-right: 10%;
  	font-size: 2vw;
  }

  .E1 h1 {
  	top: 50%;
  }

  .projects {
  	display: grid;
  	grid-template-columns: 50% 50%;
  }

  .SchoolProjects {
  	grid-template-columns: 100%;
  }

  .stylist {
  	grid-template-columns: 100%;
  }

   .founder {
  	grid-template-columns: 100%;
  }

  .gallery {
  	grid-template-columns: 100%;
  }

  .article {
  	grid-template-columns: 100%;
  }

  .mktngbuttons {
  	grid-template-columns: 100%;
  }

  .DMintro {
  	grid-template-columns: 100%;
  }

  .Forge {
  	grid-template-columns: 100%;
  }

  .anyl {
  	grid-template-columns: 100%;
  }

  .ccnumbers div{
  	margin: 5%;
  }

  .footer {
  	display:  flex;
  	flex-flow:  column wrap;
  	align-content:  left;
  }

  .footerlinks {
  	flex-flow:  column wrap;
  	align-content:  start;
  }

  .footerlinks a {
  	padding-top:  10px;
  }

  .footer div {
  	margin-top:  40px;
  }

  .footericons {
  	margin-left:  0px;
  }

}